<div class="fabricate-item-crafting-content">
    {{#each systems}}
        <h3 class="form-header">Crafting System: {{system.name}}</h3>
        {{#if recipe}}
            isRecipe
        {{/if}}
        {{#if component}}
            isComponent
        {{/if}}
    {{/each}}
</div>