<div class="recipe-tab-content">
    <div class="ingredients">
        <div class="description">
            <p>This recipe requires the following components</p>
        </div>
        <div class="components">
            <ul>
                {{#each recipe.components}}
                <li>{{quantity}} {{ingredient.name}} | {{#if consumed}} Consumed{{else}} Not consumed{{/if}}</li>
                {{/each}}
            </ul>
        </div>
        {{#if item.isOwned}}
        <div class="controls">
            <a class="craft-button" title="Craft">
                <p data-recipe-id="{{recipe.itemId}}" data-actor-id="{{item.actor.id}}">Craft</p>
            </a>
        </div>
        {{else}}
        <div class="no-controls">
            <p>Add this recipe to an Actor's inventory to use it</p>
        </div>
        {{/if}}
    </div>
</div>