<div class="fabricate-crafting-checks">
    <p>
        Crafting checks are performed when there is a chance of failure in the crafting process.
        The difficulty of crafting checks can be modified by things such as the skills of the crafter,
        the challenge level of the recipe, the components used and more.
    </p>
    <p>If your crafting system does not have a chance of failure, you don't need to enable crafting checks.</p>
    <hr/>
    <div class="fabricate-crafting-check-toggle">
        <form>
            <div class="form-group">
                <label for="craftingChecksEnabled">Enable crafting checks for this system?</label>
                <div class="form-fields">
                    <input name="craftingChecksEnabled" type="checkbox" data-action="toggleCraftingChecksEnabled" data-system-id="{{system.id}}">
                </div>
            </div>
        </form>
    </div>
</div>