<div class="fabricate-components">
    <div class="fabricate-drop-zone" data-action="createComponent">
        <i class="fa-solid fa-plus" style="pointer-events: none"></i> Drop an item or click to create a component
    </div>
    <div class="fabricate-component-list">
        <div class="fabricate-component">
            <div class="fabricate-info">
                <span class="fabricate-button" data-tooltip="Delete" data-action="deleteComponent"><i class="fa-solid fa-xmark" style="pointer-events: none"></i></span>
                <span class="fabricate-button" data-tooltip="Edit" data-action="editComponent"><i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i></span>
            </div>
            <span class="fabricate-component-name">Component name</span>
            <img src="/icons/commodities/materials/bowl-liquid-red.webp" data-action="editComponent">
        </div>
        <div class="fabricate-component">
            <div class="fabricate-info">
                <span class="fabricate-button" data-tooltip="Delete" data-action="deleteComponent"><i class="fa-solid fa-xmark" style="pointer-events: none"></i></span>
                <span class="fabricate-button" data-tooltip="Edit" data-action="editComponent"><i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i></span>
            </div>
            <span class="fabricate-component-name">Component name</span>
            <img src="/icons/commodities/materials/bowl-liquid-red.webp" data-action="editComponent">
        </div>
        <div class="fabricate-component">
            <div class="fabricate-info">
                <span class="fabricate-button" data-tooltip="Delete" data-action="deleteComponent"><i class="fa-solid fa-xmark" style="pointer-events: none"></i></span>
                <span class="fabricate-button" data-tooltip="Edit" data-action="editComponent"><i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i></span>
            </div>
            <span class="fabricate-component-name">Component name</span>
            <img src="/icons/commodities/materials/bowl-liquid-red.webp" data-action="editComponent">
        </div>
    </div>
</div>