<header class="fabricate-crafting-system-header">
    <h1 contenteditable="true">{{system.name}}</h1>
    <h4 contenteditable="true">{{system.summary}}</h4>
    <hr/>
    <p contenteditable="true">{{system.description}}</p>
</header>