<div class="fabricate-alchemy">
    <p>
        Alchemy is a process by which an system is modified by combining specific ingredients to produce one or more
        effects. Not every crafting system includes alchemy. In fact, most crafting systems don't!
    </p>
    <hr/>
    <div class="fabricate-alchemy-toggle">
        <form>
            <div class="form-group">
                <label for="alchemyEnabled">Enable alchemy for this crafting system?</label>
                <div class="form-fields">
                    <input name="alchemyEnabled" type="checkbox" data-action="toggleAlchemyEnabled" data-system-id="{{system.id}}">
                </div>
            </div>
        </form>
    </div>
</div>