.fabricate-component {
  display: inline-flex;
  position: relative;
  margin-right: 10px;
  width: 72px;
  height: 72px;
  background-color: #382a2b;
  border: 1px solid #232020;
  border-radius: 5px;
  .quantity, .name, .consumed {
    position: absolute;
    z-index: 1;
    font-size: 1em;
  }
  .consumed {
    background: #aba693;
    color: #4c4439;
    font-size: 0.9em;
    width: 16px;
    border-radius: 8px;
    text-align: center;
    top: 24%;
    right: -3%;
    padding: 1px;
  }
  .quantity{
    padding: 2px;
    left: 85%;
    top: -6%;
    background: #aba693;
    color: #4c4439;
    width: 18px;
    font-size: 0.9em;
    font-weight: bold;
    height: 18px;
    text-align: center;
    border-radius: 9px;
  }
  .name {
    width: 72px;
    left: -1px;
    text-align: center;
    background: #aba693;
    color: #4c4439;
    border-radius: 0px 0px 5px 5px;
    font-size: 0.85em;
    border-top: 1px solid #232020;
    top: 90%;
  }
  img {
    height: 60px;
    width: 60px;
    margin: 5px;
    border-radius: 3px;
  }
}

.fabricate-recipe {
  .controls {
    p {
      width: 100%;
      text-align: center;
      margin: 8px 1px 0px 1px;
      background: rgba(255, 255, 240, 0.8);
      border: 1px solid #b5b3a4;
      border-radius: 3px;
      font-size: 14px;
      line-height: 28px;
    }
  }
  .ingredients {margin-top: 15px;
    li {
      .fabricate-component();
    }
  }
  .ingredients, .results {
    padding-bottom: 10px;
  }
  .components {
    margin-top: 15px;
    li {
      .fabricate-component();
    }
  }
}

